<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>EDUFIN - ADD</title>
</head>
<body>
    <h1><a href = index.html>Educação Financeira</a></h1>
    <br>
    <h3>Formulário de adição de curso</h3>
    <p>Favor informe os detalhes abaixo</p>
    <form action="" class="container" id="addForm" add-curso>
        <input new-id-curso type="number" id="newId" placeholder="ID (número)"/><br>
        <input new-titulo-curso type="text" id="newTitle" placeholder="Título"/><br>
        <input new-descricao-curso type="text" id="newDesc" placeholder="Descrição"/><br>
        <input new-imagem-curso type="text" id="newImg" placeholder="Endereço da Imagem"/><br>
        <input new-prof-curso type="text" id="newProf" placeholder="Professor"/><br>
        <input new-aulas-curso type="url" id="newAulas" placeholder="Link com as aulas"/><br>
        <button id="confirmAdd">ADICIONAR</button>
    </form>
    <script src="./../scripts/addCurso.js"></script>
</body>