<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>EDUFIN - ADD</title>
</head>
<body>
    <h1><a href = index.html>Educação Financeira</a></h1>
    <br>
    <h3>Formulário de exclusão de curso</h3>
    <p>Favor informe o ID abaixo</p>
    <form action="" class="container" id="addForm" add-curso>
        <input del-id-curso type="number" id="delId" placeholder="ID (número)"/><br>
        <button id="confirmDel">EXCLUIR</button>
    </form>
    <script src="./../scripts/addCurso.js"></script>
</body>