<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>EDUFIN - Educação Financeira</title>
</head>
<body>
    <h1>Educação Financeira</h1>
    <h2>Bem vindo ao nosso portal de cursos!</h2>
    <br>
    <p>Selecione a ação desejada abaixo:</p>
    <table>
        <tr><td><button id="addCurso"><a href = addCurso.html>Adicionar curso</a></button></td></tr>
        <tr><td><button id="searchCurso"><a href = searchCurso.html>Pesquisar curso</a></button></td></tr>
        <tr><td><button id="listCurso"><a href = listCurso.html>Lista completa de cursos</a></button></td></tr>
        <tr><td><button id="updateCurso"><a href = updateCurso.html>Atualizar curso</a></button></td></tr>
        <tr><td><button id="delCurso"><a href = delCurso.html>Deletar curso</a></button></td></tr>
    </table>
    <script src="./../scripts/addCurso.js"></script>
</body>